.wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.rounded-0-125 {
  border-radius: 0.125rem !important;
}

.g-icon {
  font-family: "Material Icons";
}

.f-rb {
  font-family: "Roboto Mono", monospace;
}
