<div
  class="panel bg-light main-container d-flex flex-column justify-content-between"
  style="width: 296px"
>
  <div>
    <div class="logo mb-45">
      <a href="#">
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
          alt="logo"
        />
      </a>
    </div>
    <ul class="list-unstyled" id="panelList">
      <li class="mx-n45 px-45">
        <a href="#" class="d-flex link-dark fw-bold mb-4">
          <span class="material-icons me-3"> assessment </span>
          <span> Dashboard </span>
        </a>
      </li>
      <li class="mx-n45 px-45">
        <a href="#" class="d-flex link-dark fw-bold mb-4">
          <span class="material-icons me-3"> question_answer </span>
          <span> Question </span>
        </a>
      </li>
      <li class="mx-n45 px-45">
        <a href="index.html" class="d-flex link-dark fw-bold mb-4">
          <span class="material-icons me-3"> assignment </span>
          <span> Assignment </span>
        </a>
      </li>
      <li class="mx-n45 px-45">
        <a href="#" class="d-flex link-dark fw-bold mb-4">
          <span class="material-icons me-3"> video_library </span>
          <span> Course </span>
        </a>
      </li>
      <li class="mx-n45 px-45">
        <a href="Admin.html" class="d-flex link-dark fw-bold mb-4">
          <span class="material-icons me-3"> group </span>
          <span> Admin </span>
        </a>
      </li>
      <li class="mx-n45 px-45">
        <a href="#" class="d-flex link-dark fw-bold">
          <span class="material-icons me-3"> settings </span>
          <span> Settings </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="panel-account d-flex align-items-center">
    <img
      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
      alt="admin-img"
      width="40px"
      height="40px"
      class="rounded-circle me-3"
    />
    <div>
      <h3 class="fs-6">Andy Chen</h3>
      <h3 class="fs-7">andy0401@mail.com</h3>
    </div>
  </div>
</div>
