<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/headLink'); -%>
  </head>
  <body>
    <%- include('./layout/panel', { page: "index" }); -%>
    <main
      class="main-container"
      style="width: 984px; margin-left: 296px"
      data-aos="fade-down"
    >
      <nav class="d-flex align-items-center">
        <h2 class="fw-bold fs-4 mb-0 me-52">Assignment</h2>
        <div
          class="list-unstyled d-flex w-100 justify-content-between align-items-center mb-0"
        >
          <div>
            <a
              class="link-dark d-flex"
              href="#"
              id="allCoursebtn"
              role="button"
              data-bs-toggle="collapse"
              data-bs-target="#allsection"
              aria-expanded="true"
            >
              All Course
              <span class="material-icons ms-2"> expand_more </span>
            </a>
          </div>
          <div>
            <a href="#" class="link-dark d-inline-block me-4">
              <span class="material-icons"> search </span>
            </a>
            <a href="#" class="link-dark d-inline-block me-4">
              <span class="material-icons"> notifications_active </span>
            </a>
          </div>
        </div>
      </nav>
      <div id="allsection" class="collapse show">
        <div
          class="status d-flex justify-content-between align-items-center mb-1"
        >
          <button
            class="btn link-dark d-flex align-items-center"
            type="button"
            id="mainListBtn"
            data-bs-toggle="collapse"
            data-bs-target="#mainList"
            aria-expanded="true"
          >
            All(4) <span class="material-icons ms-2">expand_more</span>
          </button>
          <span class="fs-8 text-secondary">2 comments</span>
        </div>
        <div class="main">
          <div class="row">
            <div class="col-4">
              <ul class="list-unstyled collapse show" id="mainList">
                <li class="bg-light border p-25">
                  <a href="#" class="link-dark">
                    <h1
                      class="fs-8 d-flex justify-content-between align-items-center mb-1"
                    >
                      Chapter Assignment 2 <span>4 hrs ago</span>
                    </h1>
                    <p
                      class="fw-bold d-flex justify-content-between align-items-center mb-0"
                    >
                      Please check this file…
                      <span class="text-secondary fs-8">Emily Wang</span>
                    </p>
                  </a>
                </li>
                <li class="p-25 border">
                  <a href="#" class="link-dark">
                    <h3
                      class="fs-8 d-flex justify-content-between align-items-center mb-1"
                    >
                      Chapter Assignment 1 <span>12 hrs ago</span>
                    </h3>
                    <p
                      class="fw-bold d-flex justify-content-between align-items-center mb-0"
                    >
                      My Homework
                      <span class="text-secondary fs-8">David Xu</span>
                    </p>
                  </a>
                </li>
                <li class="p-25 border">
                  <a href="#" class="link-dark">
                    <h3
                      class="fs-8 d-flex justify-content-between align-items-center mb-1"
                    >
                      Final Assignment <span>18 hrs ago</span>
                    </h3>
                    <p
                      class="fw-bold d-flex justify-content-between align-items-center mb-0"
                    >
                      Have a problem with this…
                      <span class="text-secondary fs-8">Tony Wei</span>
                    </p>
                  </a>
                </li>
                <li class="p-25 border">
                  <a href="#" class="link-dark">
                    <h3
                      class="fs-8 d-flex justify-content-between align-items-center mb-1"
                    >
                      Final Assignment <span>19 hrs ago</span>
                    </h3>
                    <p
                      class="fw-bold d-flex justify-content-between align-items-center mb-0"
                    >
                      Did I do it right?
                      <span class="text-secondary fs-8">Christina Lin</span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-8">
              <div
                class="d-flex justify-content-between align-items-center bg-light px-3 py-25 border"
              >
                <h3 class="mb-0 fs-6">
                  <span class="fs-8">Chapter Assignment 2 / HTML&CSS</span
                  ><br />
                  <span class="fs-6 fw-bold"
                    >Please check this file for me, thanks!</span
                  >
                </h3>
                <a class="material-icons link-dark"> more_vert </a>
              </div>
              <div class="border">
                <div class="p-3 d-flex">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emilywang.jpeg?raw=true"
                    alt="user-picture"
                    width="40px"
                    height="40px"
                    class="rounded-circle flex-shrink-0 me-2"
                  />
                  <div>
                    <div class="mb-3">
                      <h4 class="fs-6 fw-bold mb-0">Emily Wang</h4>
                      <time class="fs-8 text-secondary"
                        >10:38 AM (4 hours ago)</time
                      >
                    </div>
                    <p class="fs-7">
                      Hi Teacher, the attached file is my homework of chapter 2.
                      And here comes a question: Why in the following code the
                      height of the
                      <span class="f-rb text-success">div</span> is bigger than
                      the height of the
                      <span class="f-rb text-success">img</span> ? There is a
                      gap below the image, but it doesn’t seems to be a
                      padding/margin. What is the gap or extra space below
                      image?
                    </p>
                    <div
                      class="bg-light d-flex align-items-center border px-25 py-2"
                    >
                      <span class="material-icons me-2"> attach_file </span>
                      <button class="fw-bold border-0">HW-2-David.zip</button>
                    </div>
                  </div>
                </div>
                <div class="p-3 d-flex border-top" id="watchMode">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
                    alt="admin-picture"
                    width="40px"
                    height="40px"
                    class="rounded-circle flex-shrink-0 me-2"
                  />
                  <div>
                    <div class="mb-3">
                      <h4 class="fs-6 fw-bold mb-0">Andy Chen (You)</h4>
                      <time class="fs-8 text-secondary"
                        >13:24 AM (1 hours ago)</time
                      >
                    </div>
                    <div class="fs-7">
                      Hi David, by default, an image is rendered inline, like a
                      letter so it sits on the same line that a, b, c and d sit
                      on. There is space below that line for the descenders you
                      find on letters like g, j, p and q.
                      <br />
                      <br />
                      You can:
                      <br />
                      <br />
                      <ul>
                        <li>
                          adjust the
                          <code class="f-rb">vertical-align</code>
                          of the image to position it elsewhere (e.g. the middle
                          ) or
                        </li>
                        <li>
                          change the
                          <code class="f-rb">display</code> so it isn’tinline.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="border-top d-none" id="editMode">
                  <ul class="list-unstyled d-flex mb-0 bg-light px-4 py-3">
                    <li class="me-4">
                      <a href="#" class="link-dark d-flex align-items-center"
                        >Body Text
                        <span class="material-icons ms-2">
                          arrow_drop_down
                        </span></a
                      >
                    </li>
                    <li class="me-4">
                      <a href="#" class="link-dark">
                        <span class="material-icons"> format_bold </span></a
                      >
                    </li>
                    <li class="me-4">
                      <a href="#" class="link-dark">
                        <span class="material-icons"> format_italic </span></a
                      >
                    </li>
                    <li class="me-4">
                      <a href="#" class="link-dark">
                        <span class="material-icons">
                          format_list_bulleted
                        </span></a
                      >
                    </li>
                    <li class="me-4">
                      <a href="#" class="link-dark">
                        <span class="material-icons">
                          format_list_numbered
                        </span></a
                      >
                    </li>
                    <li class="me-4">
                      <a href="#" class="link-dark">
                        <span class="material-icons"> image </span></a
                      >
                    </li>
                    <li class="me-4">
                      <a href="#" class="link-dark">
                        <span class="material-icons"> insert_link </span></a
                      >
                    </li>
                    <li>
                      <a href="#" class="link-dark">
                        <span class="material-icons"> code </span></a
                      >
                    </li>
                  </ul>
                  <form class="position-relative">
                    <textarea
                      name=""
                      id=""
                      placeholder="Reply an answer…"
                      style="height: 263px; margin-bottom: -54px"
                      class="w-100 border ps-4"
                    ></textarea>
                    <div
                      class="d-flex justify-content-end position-absolute"
                      style="right: 1.5rem"
                    >
                      <button
                        type="button"
                        class="btn btn-outline-success px-45 me-3 rounded-0-125"
                        id="cancelEdit"
                      >
                        Cancel
                      </button>
                      <button
                        type="submit"
                        class="btn btn-outline-success px-45 rounded-0-125"
                      >
                        Reply
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3" id="watchFooter">
          <a
            href=""
            class="link-dark d-flex d-flex justify-content-center align-items-center flex-grow-1"
          >
            <span class="material-icons ms-2">navigate_before</span>
            <span class="material-icons ms-2">navigate_next</span>
          </a>
          <div>
            <button
              type="button"
              class="btn btn-outline-success px-45 me-3 rounded-ms"
            >
              Mark as read
            </button>
            <button
              type="button"
              class="btn btn-outline-success rounded-ms"
              id="editBtn"
            >
              Reply
            </button>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/aos'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
